*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    text-align: center;
   
    font-size: 30px;
  
}
body{
    background-image: url(../images/background.jpeg);
     background-size: cover;
}
.calulator{
width: 250px;
height: 346px;
background-color: black;
padding: 10px;
 margin: 100px auto; 
border-radius: 5px;
}
.cal{
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    font-size: 19px;
    color: white;
    background-color: black;
    border: none;
    padding: 5px;
}
.buttons button{
    width: 50px;
    height: 50px;
    color: rgb(240, 231, 231);
    background-color: black;
    border: 1px solid rgb(146, 141, 141);
     margin: 2px;
     font-size: 18px;
     border-radius: 3px;
     margin-bottom: 6px;
     cursor: pointer;
}
.buttons button:active{
    background-color: red;
}
.about{
   line-height: 10px;
   color: beige;
}
.about h2{
    margin-bottom: 10px;
    color: rgb(171, 191, 197);
}

.layer{
     height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.about p span{
    color: silver;
}